# Microsoft Word Temporary files 
~$*.docx

Software/Peggy workspace/en.stm32cubewl_v1.0.0/
Software\Peggy workspace\.metadata
Software/Peggy workspace/.meatadata/*
Software/Peggy workspace/.vscode/*

Hardware/*/History
Hardware/*/Project Outputs
Hardware/*/__Previews